{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} {{ service.title }}{% endblock %}
{% block content %}
  <div class="container">
    <div id="accordion">
      <div class="row">
        {% for service in list_services %}
          <div class="col-md-2" style="background-color:lavenderblush;">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#{{service.title}}">
                {{service.title}}
              </a>
            </div>
          </div>
          {% if service.id == 1 %}
            <div class="col-md-10" style="background-color:lavenderblush;">
              <div id="{{service.title}}" class="collapse show" data-parent="#accordion">
                <div class="row">
                  <div class="col-md-9" style="background-color:lavenderblush;">
                    <div class="card-body">
                      <h1>{{service.title}}</h1>
                      <h3>{{service.publish}}</h3>
                      <p>{{service.content}}</p>
                    </div>
                  </div>
                  <div class="col-md-3" style="background-color:lavenderblush;">
                    <section id="portfolio" class="portfolio">
                      <h1>{{service.price}} $ </h1>
                      <div class="container">
                        <div class="row portfolio-container">
                          <div class="portfolio-item">
                              <img src="{{ service.photo.url }}" class="img-fluid" alt="">
                              <div class="portfolio-info">
                                  <h3><a href="{{ service.photo.url }}" data-gall="portfolioGallery" class="venobox" title="ZOOM">
                                    <i class="icofont-plus"></i>ZOOM</a></h3>
                              </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="col-md-10" style="background-color:lavenderblush;">
              <div id="{{service.title}}" class="collapse" data-parent="#accordion">
                <div class="row">
                  <div class="col-md-9" style="background-color:lavenderblush;">
                    <div class="card-body">
                      <h1>{{service.title}}</h1>
                      <h3>{{service.publish}}</h3>
                      <p>{{service.content}}</p>
                    </div>
                  </div>
                  <div class="col-md-3" style="background-color:lavenderblush;">
                    <section id="portfolio" class="portfolio">
                      <h1>{{service.price}} $ </h1>
                      <div class="container">
                        <div class="row portfolio-container">
                          <div class="portfolio-item">
                              <img src="{{ service.photo.url }}" class="img-fluid" alt="">
                              <div class="portfolio-info">
                                  <h3><a href="{{ service.photo.url }}" data-gall="portfolioGallery" class="venobox" title="ZOOM">
                                    <i class="icofont-plus"></i>Увеличить</a></h3>
                              </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block form %}
<!--<div class="col-lg-5 col-md-12">-->
<!--    <form action="{% url 'shop:send_service' %}" method="post" role="form">-->
<!--      {% csrf_token %}-->
<!--      {{ form.as_p }}-->
<!--      <div class="form-group">-->
<!--        <input type="text" name="user_name" class="form-control" id="user_name" placeholder="Dein Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
<!--        <div class="validate"></div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--        <div class="validate"></div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="FormService" name="service" id="service">Please choose the service</label>-->
<!--        <div class="validate"></div>-->
<!--        <select class="form-control" id="FormService">-->
<!--          <option selected>...</option>-->
<!--          {% for title in list_services %}-->
<!--            <option value="{{ title.title }}">-->
<!--              {{ title.title }}-->
<!--            </option>-->
<!--          {% endfor %}-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>-->
<!--        <div class="validate"></div>-->
<!--      </div>-->
<!--      <div class="text-center">-->
<!--        <button type="submit" class="btn btn-success">Send Message</button>-->
<!--      </div>-->
<!--    </form>-->
<!--</div>-->
<div class="col-lg-5 col-md-12">
    <form action="{% url 'shop:send_service' %}" method="post" role="form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <input type="text" name="user_name" class="form-control" id="user_name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
        <div class="validate"></div>
      </div>
     <div class="form-group">
                <input type="phone_number" class="form-control" name="phone_number" id="phone_number" placeholder="Номер телефона" data-rule="phone_number" data-msg="Please enter a valid number" />
                <div class="validate"></div>
              </div>

      <div class="form-group">
        <label for="service" name="service" data-rule="required" data-msg="Выберете вид услуги"></label>
        <select class="form-control" id="service" name="service" title="">
          {% for title in list_services %}
            <option value="{{ title.title }}">
              {{ title.title }}
            </option>
          {% endfor %}
        </select>
        <div class="validate"></div>
      </div>

      <div class="form-group">
        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Текст"></textarea>
        <div class="validate"></div>
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-success" value="Регистрация на ремонт" />
      </div>
    </form>
</div>
{% endblock %}
